.main-section {
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-table {
    font-size: 30px;
    background-color: rgba(242, 17, 22, 1);
    background-image: linear-gradient(206deg, rgba(242, 17, 22, 1) 0%, rgba(204, 53, 151, 1) 100%);
    color: white;
}

.top-th {
    padding: 20px;
}

table {
    border: 1px solid rgba(250, 229, 250, 1);
    border-collapse: collapse;
}

.main-tr {
    border: 1px;
    border-style:solid;
    border-color: rgba(250, 229, 250, 1);
    border-bottom-color: rgba(242, 17, 22, 1);
}
td {
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
}

.img-sort > img{
    width: 20px;
}

@media screen and (max-width: 1420px) {
    .main-section {
        flex-direction: column;
    }

    .main-image {
        margin: auto;
    }

    .main-text {
        font-size: 22px;
    }

    .main-section {
        margin-top: 180px;
    }

    .top-table {
        font-size: 17px;
    }
    
    .top-th {
        padding: 1px;
    }
    
    td {
        padding: 1px;
        font-size: 15px;
        font-weight: 800;
    }
    
    .img-sort > img{
        width: 10px;
    }
}

@media screen and (max-width: 700px) {
    .main-section {
        flex-direction: column;
    }

    .main-image {
        margin: auto;
        width: 300px;
    }

    .main-text {
        font-size: 15px;
    }

    .main-section {
        margin-top: 190px;
    }

    .top-table {
        font-size: 8px;
        background-color: rgba(242, 17, 22, 1);
        background-image: linear-gradient(206deg, rgba(242, 17, 22, 1) 0%, rgba(204, 53, 151, 1) 100%);
        color: white;
    }
    
    .top-th {
        padding: 1px;
    }
    
    table {
        border: 1px solid white;
        border-collapse: collapse;
    }
    
    .main-tr {
        border: 1px;
        border-style:solid;
        border-color: white;
        border-bottom-color: rgba(242, 17, 22, 1);
    }
    td {
        padding: 1px;
        font-size: 10px;
        font-weight: 800;
    }
    
    .img-sort > img{
        width: 5px;
    }
}